body {
    margin: 0;
    background-color: white;
    color: #302729;
    width: 100%;
    display: inline;
}

.dark-mode {
  background-color: black;
  color: #a88590;
}

@media screen and (min-width: 544px) {
}

.topnav {
  overflow: hidden;
  background-color: #302729;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #a88590;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-right {
  float: right;
}

.animation {
  background-color: #a88590;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFfcm85I09UnlTGfDdbFoLduJSUZ-Xydw-4Q&usqp=CAU");
  width: 389px;
  height: 129px;
  animation: walk 1s steps(3) infinite,
              forward 10s linear infinite;
}

@keyframes fly {
  0% {background-position: 0px;
  }
  100% {background-position: 389px;
  }
}

@keyframes forward {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(1600px);
  }
}

.flex-container {
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.flex-container>div {
  background-color: #302729;
  color: #a88590;
  overflow-x: hidden;
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  line-height: 30px;
  font-weight: 400;
  padding-right: auto;
  padding-left: auto;
  border: 0;
  outline: none;
  vertical-align: baseline;
}

.img-bg {
  background-image: url("https://1.bp.blogspot.com/-Am-GSrc0Zuw/W_qPO3J4sTI/AAAAAAAAFoA/8eG1RIDmrG82yBimEbt7evLP5PLWCZVfQCLcBGAs/s1600/2018-11-15%2B11.56.39%2B3%2B%25281%2529.jpg");
  width: 100%;
  padding-right: auto;
  padding-left: auto;
}

.color-bg {
  background-color: #302729;
  margin-right: auto;
  margin-left: auto;
  width: 50%
}

.color-bg h3 {
  margin-bottom: auto;
  margin-left: auto;
  font-size: 25px;
}

.color-bg h1 {
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 35px;
}

.color-bg p {
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.color-bg a{
  color: #302729;
  border: none;
  background-color: #a88590;
  padding: 10px 20px;
  font-size: 20px;
  margin: 15px;
}

.extra-section {
  background-color: #a88590;
  color:#302729;
  margin:auto;
  padding: 6px;
  font-size: 25px;
}

form {
  margin-top: 60px;
  margin-left: 40px;
}

.lebar-90 {
  width: 95%;
}

input[type=submit] {
  color: #302729;
  border: none;
  background-color: #a88590;
  padding: 10px 20px;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 200px;
}

footer p {
  margin-top: 80px;
  margin-bottom: 10px;
  margin-left: 1300px;
  width: 100%;
  color: #a88590;
  text-align: left;
}